<div class="flex w-screen justify-end p-4">
    <ul class="flex flex-wrap items-center justify-center">
      <li>
        <a href="#" class="hover:underline mr-4 md:mr-6">Features</a>
      </li>
      <li>
        <a href="#" class="hover:underline mr-4 md:mr-6">Log in</a>
      </li>
      <li>
        <a href="#" class="hover:underline mr-4 md:mr-6">Sign up</a>
      </li>
    </ul>
</div>
