default: &default
  client_id: <%= ENV['SLACK_CLIENT_ID'] %>
  client_secret: <%= ENV['SLACK_CLIENT_SECRET'] %>
  scope: "incoming-webhook,commands,users:read,team:read"
  base_url: "https://slack.com/api"
  auth_url: "https://slack.com/oauth/v2/authorize"


development:
  <<: *default

test:
  <<: *default

production:
  <<: *default