<div id="home">
  <div class="flex w-screen h-screen justify-center">
    <div class="m-96">
      <p class="text-xl">Never have to make a decision in Slack again.</p>
      <a href="#" rel="nofollow">
        <img alt="Add to Slack" class="w-32 m-auto" src="https://platform.slack-edge.com/img/add_to_slack.png">
      </a>
    </div>
  </div>
</div>
